CrossOverAssignment.Business/Web References/StockWebService/StockExchangeWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExposeStockPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listOfStockCode" type="tns:ArrayOfStockWebDtos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStockWebDtos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StockWebDtos" nillable="true" type="tns:StockWebDtos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StockWebDtos">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDtoOfInt32">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="StockCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="StockPrice" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseDtoOfInt32">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdateDateTime" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExposeStockPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeStockPriceResult" type="tns:ArrayOfStockWebDtos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAuth" type="tns:UserAuth" />
      <s:complexType name="UserAuth">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExposeStockPriceSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeStockPrice" />
  </wsdl:message>
  <wsdl:message name="ExposeStockPriceSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeStockPriceResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeStockPriceUserAuth">
    <wsdl:part name="UserAuth" element="tns:UserAuth" />
  </wsdl:message>
  <wsdl:portType name="StockExchangeWebServiceSoap">
    <wsdl:operation name="ExposeStockPrice">
      <wsdl:input message="tns:ExposeStockPriceSoapIn" />
      <wsdl:output message="tns:ExposeStockPriceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockExchangeWebServiceSoap" type="tns:StockExchangeWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExposeStockPrice">
      <soap:operation soapAction="http://tempuri.org/ExposeStockPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ExposeStockPriceUserAuth" part="UserAuth" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockExchangeWebServiceSoap12" type="tns:StockExchangeWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExposeStockPrice">
      <soap12:operation soapAction="http://tempuri.org/ExposeStockPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ExposeStockPriceUserAuth" part="UserAuth" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockExchangeWebService">
    <wsdl:port name="StockExchangeWebServiceSoap" binding="tns:StockExchangeWebServiceSoap">
      <soap:address location="http://localhost:49509/StockExchangeWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="StockExchangeWebServiceSoap12" binding="tns:StockExchangeWebServiceSoap12">
      <soap12:address location="http://localhost:49509/StockExchangeWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>